/* box.sass */

.box
  display: flex
  flex-direction: column

  .notes
    display: flex
    justify-content: space-around
    flex-wrap: wrap

    .noteContent
      position: relative
      margin: 5px

      li
        padding: 10px

    .deleteBtn
      position: absolute
      right: 0
      top: 0
      background-color: transparent
      color: black
      padding: 2px
